.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(246 237 164);
}

.container div {
  background-color: #FFF9C4;
  width: 720px;
  height:100px;
  margin-top:15px;
  margin-bottom:20px;
  margin-left:15px;
  margin-right:10px;
  padding-top: 45px;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;

h1 {
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.image {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
}





