.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(221, 234, 116);
}

.container div {
  background-color: #f1f1f1;
  min-width: 250px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  border-radius: 10px;
}