.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(221, 234, 116);
}

.container div {
  background-color: #f1f1f1;
  flex: 1 1 calc(50% - 40px);
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
  border-radius: 10px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 10px 0;
}

h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

