.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(246 237 164);
}

.container div {
  background-color: #FFF9C4;
  width: 720px;
  height:100px;
  margin-top:15px;
  margin-bottom:20px;
  margin-left:15px;
  margin-right:10px;
  padding-top: 45px;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;

h1 {
  color: rgb(98, 72, 13);
  margin-bottom: 10px;
  text-align: center;
}

h2 { 
  text-align: center;
  
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.image {
  text-align: center;    
  padding: 8px;           
}

.image img {
  max-width: 100%;        
  height: auto;
  display: block;         
  margin: 0 auto;         
}

.image {
  max-width: 700px;       
  margin: 0 auto;        
}









