body {
  background-color: rgba(230, 228, 173, 0.996);
}

h1 {
  color: rgb(98, 72, 13);
  text-align: center;
}

p {
  text-align: center;
  color: black;
  margin-bottom: 20px; 
  padding-left: 15px;
}


